body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

@font-face {
    font-family: verplichtRegular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: verplichtBold;
    src: url(../fonts/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: verplichtSemiBold;
    src: url(../fonts/SourceSansPro-SemiBold.ttf);
}



/*********** PAGINA INTRO ****************************/

.introductie{
    width: 70%;
}

/*********** PAGINA CONCURRENTIE *********************/

.analyse{margin-bottom: 50px;
display: flex;
justify-content: space-between;}

div > section > h2{
    border-bottom: #333 solid 1px;
}

.posiNega{
    width: 45%;
}


/*********** PAGINA SCENARIOS ************************/

/*********** PAGINA STYLEGUIDE ***********************/


/** NAVIGATIE **/



#geheel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/** TEKST **/

.titel{
    font-size: 17pt;
    font-family: verplichtBold;
}

.tussentitel{
    font-size: 15pt;
    font-family: verplichtSemiBold;
}

.broodtekst .titel{
    font-size: 15pt;
    font-family: verplichtSemiBold;
}

.link{
    color: #cc589c;
}

.link:hover {
    text-decoration: underline;
    transition: .5s ease;
}

p.formaat {
    color: #a1a1a1;
    font-size: 10pt;
    line-height: 10pt;
}





/** HOVER OP FOTO **/

.container {
    position: relative;
    width: 22%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.middle p {
  padding: 2%;
  color: white;
  font-size: 4em;
  font-family: verplichtBold;
}





/** BUTTON  **/

a{
    text-decoration: none;
    color: #333;
}

.buttongroup {
            position: relative;
            background-color: #e3e3e3;
            width: 100%;
            height: auto;
        }

.corner {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 20px 20px;
            border-color: transparent transparent black transparent;
            right: 0px;
            bottom: 0px;
        }

.knop .buttongroup p{
    text-align: center;
    padding: 5% 30% 5% 20%;
}

.buttongroup:hover {
            display: block;
            background-color: black;
            color: #cc589c;
        }

.buttongroup:hover .corner {
            border-color: transparent transparent #cc589c transparent;
        }


/** KLEUREN **/



.kleur1{
    background-color: #e3e3e3;
}

.kleur2{
    background-color: #222222;
}

.kleur3{
    background-color: #cc589c;
}

div.kleur > div > p {
    color: white;
    padding: 15%;
}
        